{% extends 'base.html' %}

{% block content %}
    <h2>Welcome {{ user.username }} Please find day logs below:-</h2>
 {% if daylogs %}
    <ul>
      {% for log in daylogs %}
        <li>
          <strong>{{ log.start_date }}</strong> —
          {{ log.total_hours_and_minutes.0 }}h {{ log.total_hours_and_minutes.1 }}m driven —
          {% if log.over_daily_limit %}
            <span style="color:red;">Over Limit!</span>
          {% else %}
            Within Limit
          {% endif %}
          —
          <a href="{% url 'day_summary' log.id %}">View Summary</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No day logs yet.</p>
  {% endif %}
<a href="{% url 'create_daylog' %}" class="btn btn-success mb-3">Create New Day Log</a>
{% endblock %}