{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container form-container mt-5 ">
  <div class="row justify-content-center ">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <h2 class="text-center mb-4">Create New Day Log</h2>
      <form method="post" id="daylog-form">
        {% csrf_token %}
        <div id="js-validation-error" class="alert alert-danger d-none" role="alert"></div>

        <div class="mb-3">
          <label for="id_start_date" class="form-label">Start Date</label>
          {{ form.start_date }}
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" aria-label="Create a new day log">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const existingDates = JSON.parse('{{ existing_dates_json|escapejs }}');
</script>

<script src="{% static 'js/daylog_form.js' %}" defer></script>

{% endblock %}